.header {
    background-color: #5D6C89;
}

.title {
    color: #FBF6F3;
    padding-top: 20px;
    font-family: 'Jost', sans-serif !important;
}

.signin {
    text-decoration: none;
    color: #FBF6F3;
    padding-top: 30px;
    font-size: 1.5rem;
}

.signin:hover {
    text-decoration: underline;
    color: #FBF6F3;
}